@font-face { font-family: Calmetta; font-weight: bold; src: url('assets/Calmetta.otf');}
@font-face { font-family: Inter; font-weight: bold; src: url('assets/InterBold.ttf');}

h1 {
    font-family: Calmetta;
    margin: 0;

}

h2, h3 {
    font-family: Calmetta;
    padding-left: 10px;
}

button {
    margin-left: 10px;
}

form {
    padding-left: 10px;
}

img {
    width: 40%;
    height: 40%;
    padding-left: 10px
}

a {
    color: white
}

p {
    padding-left: 10px;
}

.info {
    width: 50%;
}

.topBar {
    background-color: #243773;
    width: 100%;
    margin: 0px;
    padding: 10px;
    color: white;
}

body {
    margin: 0;
    padding: 0;
    font-family: Inter;
}